{% extends 'myapi/base.html' %}
{% load static %}
{% block title %}User Registration{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success">{{message}}</div>
    {% endfor %}
    {% endif %}
  <div class="col-sm-6 offset-sm-3">
   <center><h3>Choose Action </h3></center>
   <hr>

     <a class="btn btn-primary" href="{% url 'searchMember' %}" role="button">Search Member</a>
     <a class="btn btn-primary" href="{% url 'userRegistration' %}" role="button">Member Registration</a>
     <a class="btn btn-primary" href="{% url 'getImages' %}" role="button">Get images</a>
    <br>
   
  
  </div>
 </div>
</div>
{% endblock main-content %}