{% extends 'myapi/base.html' %}
{% load static %}
{% block title %}Search Member{% endblock title %}
{% block main-content %}
<div class="container-fluid">
    <div class="row">
        <main role="main" class="col-sm-9 ml-sm-auto col-md-10  main " style="padding-top: 10px;">
            <!--<h1>Welcome {{request.user.first_name|capfirst}}</h1>-->

            <section class="row  placeholders">
                <div class="col-md-12">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success">{{message}}</div>
                    {% endfor %}
                    {% endif %}
                    <form action="" method="post" enctype="multipart/form-data" novalidate class="row"  style="margin-left: 300px; padding-top: 50px;">
                        {% csrf_token %}


                        {% for fm in form %}
                        <div class="col-md-3">
                            <div class="form-group mb-3 ">

                                {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="col-md-3">
                            <input type="submit" class="btn btn-primary" value="Search">
                        </div>
                    </form>

                   
                    <div class="col-md-12">
                {% if queryset %}
                        
                        {% for queryset in queryset %}
                        <div class="card float-right" style="margin-left: 300px; padding-top: 10px;">
                            <div class="row">
                                
                                <div class="col-sm-8">
                                    <div class="card-block">
                                        <!--           <h4 class="card-title">Small card</h4> -->
                                        <h5>{{queryset.name|capfirst}}</h5>



                                        <div>{{queryset.URL}}</div>
                                        <div>{{queryset.phoneNumber}}</div>
                                        <br>


                                    </div>
                                </div>

                            </div>
                        </div>
                        
                        {% endfor %} 
                    {% else %}
                        <div class="alert alert-success">
                            <h3>No Member Found !!!!!!</h3>
                        </div>
                      
                    {% endif %}
                        

                    </div>
            </section>
        </main>
    </div>
</div>
{% endblock main-content %}