{% extends 'myapi/base.html' %}
{% load static %}
{% block title %}User Registration{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success">{{message}}</div>
    {% endfor %}
    {% endif %}
  <div class="col-sm-6 offset-sm-3">
   <center><h3>User Registration</h3></center>
   <hr>

   <form action="" method="post" enctype="multipart/form-data" novalidate class="shadow p-5">
      {% csrf_token %}
      
      {% for fm in form %}
      <div class="form-group mb-3">
         {{fm.label_tag}}{{fm}}<small class="text-danger">{{fm.errors|striptags}}</small>
      </div>
      {% endfor %}
     <input type="submit" class="btn btn-primary" value="Submit">
     <a class="btn btn-primary" href="{% url 'searchMember' %}" role="button">Search Member</a>
    <br>
   
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <p class="alert alert-danger my-3">{{error}}</p>
    {% endfor %}
    {% endif %}
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}